body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #135D66;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    text-align: center;
    background: #77B0AA;
    color: white;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.2em;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
  }
  
  .logo img {
    width: 100px;  /* Increased width */
    height: 100px; /* Increased height */
    border-radius: 50%;
    margin-left: auto;
    margin-right: 20px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
  }
  
  main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .how-it-works {
    max-width: 1000px;
    text-align: center;
  }
  
  .how-it-works h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .how-it-works p {
    font-size: 18px;
    margin-bottom: 30px;
    color: white;
  }
  
  .how-it-works-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  footer {
    background: #77B0AA;
    text-align: center;
    padding: 25px 0;
    color: white;
  }
  
  .footer-logo {
    width: 60px;  /* Adjust width as needed */
    height: 60px; /* Adjust height as needed */
    border-radius: 50%; /* Circular frame */
    vertical-align: middle; /* Align the logo with the text */
    margin-right: 10px; /* Space between the logo and the text */
    object-fit: cover; /* Ensure the image fits within the circular frame */
    border: 2px solid white; /* Optional: Add a white border around the circle */
  }
  .back-button {
    margin-top: 20px;
}

.back-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #004b00;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

  @media (max-width: 768px) {
    .header-content {
      flex-direction: column;
      gap: 10px;
    }
  
    nav ul {
      flex-direction: column;
      gap: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .header-content {
      flex-direction: column;
      gap: 10px;
    }
  
    nav ul {
      flex-direction: column;
      gap: 10px;
    }
  
    .how-it-works h1 {
      font-size: 28px;
    }
  
    .how-it-works p {
      font-size: 16px;
    }
  }
  